{% import "partials/nav_utils" as nav_utils -%}
{% import "partials/components" as components -%}
{% macro nav(items) -%}
<div class="dashboard-page_nav">
    {{ components::logo() }}
    {% for link in items -%}
    {{ nav_utils::link(label=link.label, url=link.url) -}}
    {% endfor -%}
</div>
{% endmacro -%}