@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --input-border: rgb(61, 226, 255);
    --element-gradient: linear-gradient(to right bottom, #6a11cb 0%, #2575fc 100%);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#login {
    border: none;
    box-shadow: black 2px 1px 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
main {
    margin: 10px;
    margin-right: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    box-sizing: border-box;
    overflow: auto;
    border: none;
    box-shadow: black 2px 1px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
input {
    border: 1px solid var(--input-border);
    outline: none;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
button-box {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
button-box button:not(:first-child) {
    margin-left: 7px;
}
button {
    font-family: Montserrat;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-image: var(--element-gradient);
    background-color: #2575fc;
    color: white;
    transition-property: box-shadow background-color;
    transition-duration: 0.1s;
}
button:hover {
    box-shadow: black 1px 1px 3px;
}
button:active {
    background-image: none;
    background-color: black;
    color: white;
}
div#errorBanner {
    display: none;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 163, 163, 0.596);
    border: 1px solid rgb(253, 53, 53);
    color: black;
    text-align: center;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
}
h1 {
    font-family: Montserrat;
    margin: 0;
    font-weight: 200;
}
div#sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div#sections section {
    border: 1px solid var(--input-border);
    border-radius: 10px;
}