{% extends "base" -%}
{% import "partials/sidenav" as nav -%}
{% block content -%}
<div class="dashboard-page">
    {{ nav::nav(items=page.nav.items) }}
    <div class="dashboard-page_content">
        {% block page -%}{% endblock page -%}
    </div>
</div>
{% endblock content -%}