{{define "embedVue"}}
<!doctype html>
<html lang="en">
    {{ $vue := . }}
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#7ff4b0">
        <title>Litelytics</title>
        <style>
            @media (prefers-color-scheme: dark) {
                body {
                    background-color: rgb(15 23 42);
                }
            }
        </style>
        <link rel="preload" as="fetch" href="/api/sites">
    </head>
    <body>
        <div id="app"></div>
        {{ if $vue }}
            {{ $vue.RenderTags }}
        {{ end }}
    </body>
</html>
{{ end }}